* {
    margin: 0;
    padding: 0;
}

svg {
    width: 1520px;
    height: 595px;
    border: 2px black solid;
    margin: 5px;
}

.panel {
    display: flex;
    position: sticky;
}

.btn_panel {
    flex-grow: 1;
}

.btn_panel, .shape_style_panel {
    display: flex;
    border: 2px black solid;
    justify-content: center;
    align-items: center;
    margin: 5px;
    user-select: none;
}

.btn, .selected_btn, .btn_reset, .serialize_btn, .deserialize_btn, .serialize_type_btn, .serialize_type_selected_btn, .plugin_download_btn, .plugin_btn, .plugin_selected_btn {
    border-radius: 15px;
    padding: 10px;
    margin: 5px;
    color: aliceblue;
    height: 20px;
    cursor: pointer;
}

.btn, .serialize_type_btn, .plugin_download_btn, .plugin_btn {
    background-color: grey;
}

.selected_btn, .btn_reset, .serialize_btn, .deserialize_btn, .serialize_type_selected_btn, .plugin_selected_btn {
    background-color: black;
}

.btn_reset {
    width: 130px;
}

.serialize_panel {
    display: flex;
}

.serialize_btn, .deserialize_btn, .plugin_download_btn, .plugin_btn, .plugin_selected_btn {
    text-align: center;
    width: 120px;
}

.btn_reset:active, .deserialize_btn:active, .serialize_btn:active {
    background-color: grey;
}

.serialize_type_panel {
    text-align: center;
}

.serialize_type_btn_panel {
    display: flex;
}

input[type='color'] {
    padding: 0;
    width: 150%;
    height: 150%;
    margin: -25%;
    cursor: pointer;
}

.color_picker {
    overflow: hidden;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    box-shadow: 1px 1px 3px 0 grey;
    margin: 3px;
}

.shape_style_editing {
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

input[type='range'] {
    cursor: pointer;
}

.fill_on, .stroke_on {
    cursor: pointer;
    color: black;
}

.fill_off, .stroke_off {
    cursor: pointer;
    color: grey;
}
input[type="range"] {
    accent-color: black;
}

.menu-btn {
    width: 40px;
    font-size: 40px;
    cursor: pointer;
    margin: 10px 5px 5px;
    user-select: none;
}

.menu {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background-color: #333;
    color: black;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
    transition: right 0.3s;
    z-index: 999;
    user-select: none;
}

.menu_serialize_content, .menu_serialize_mod_content {
    text-align: center;
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu_serialize_mod_content {
    padding-bottom: 30px;
}

.menu_serialize_content_name, .menu_serialize_mod_content_name {
    padding: 10px;
    margin-bottom: 5px;
    font-size: 24px;
}

.menu_shape_plugin_content {
    text-align: center;
    padding: 10px;
    color: aliceblue;
}

.menu_shape_plugin_content_name {
    padding: 10px;
    font-size: 24px;
    margin-bottom: 20px;
}

.menu_shape_plugin_content div:last-child {
    display: flex;
    justify-content: center;
}

.plugin_download_btn {
    margin: 15px;
}

.plugin_download_btn:active {
    color: black;
    background-color: aliceblue;
}

.file_input {
    margin: 0 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.file_input p {
    margin-bottom: 10px;
}

input[type="file"] {
    padding: 4px;
    margin: -4px;
    position: relative;
    outline: none;

    &::file-selector-button {
        border-radius: 4px;
        padding: 0 16px;
        height: 40px;
        cursor: pointer;
        background-color: white;
        border: 1px solid rgba(#000, 0.16);
        box-shadow: 0 1px 0 rgba(#000, 0.05);
        margin-right: 16px;

        /*
          This is a hack to change the button label.
          I'm hiding the default label and then
          manually applying the width based on
          updated icon and label.
        */
        width: 132px;
        color: transparent;

        /*
          Firefox doesn't support the pseudo ::before
          or ::after elements on this input field so
          we need to use the @supports rule to enable
          default styles fallback for Firefox.
        */
        @supports (-moz-appearance: none) {
            color: #0964b0;
        }

        &:hover {
            background-color: #f3f4f6;
        }

        &:active {
            background-color: #e5e7eb;
        }
    }

    /* Faked label styles and icon */
    &::before {
        position: absolute;
        pointer-events: none;
        top: 14px;
        left: 16px;
        height: 20px;
        width: 20px;
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%230964B0'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
    }

    &::after {
        position: absolute;
        pointer-events: none;
        top: 16px;
        left: 40px;
        color: #0964b0;
        content: "Upload File";
    }

    /* Handle Component Focus */
    &:focus-within::file-selector-button,
    &:focus::file-selector-button {
        outline: 2px solid #0964b0;
        outline-offset: 2px;
    }
}
